.uk-container-expand{
    margin-bottom: 175px;
}
.uk-heading-medium{
    margin-top: 0px;
}
.zigzag{
    margin-top: 0px;
}
.apreszigzag{
    margin-top: 20px;
}
.rihanna{
    margin-top: 50px;
}
 .tableau{
    display: flex;
    border: 1px black solid;
     width: 100%;
     padding: 5px 2px;
 }
 